{%extends 'ums/user/user_base.html'%}
{% load crispy_forms_tags %}
{%block head%}
<title>User|Support</title>

{%endblock%}
{%block content%}
<div class="container">

  <form method="POST" enctype="multipart/form-data">
    {{form|crispy}}
{%csrf_token%}

<button type="submit" class="btn btn-primary">Submit</button>
</form>
<br>
<hr>
<br>
<table class="table">
  <thead class="thead-dark">
    <tr>
     
      <th scope="col">Title</th>
      <th scope="col">Description</th>
      <th scope="col">Date</th>
      <th scope="col">Action</th>

    </tr>
  </thead>
  <tbody>
    {%for ticket in tickets%}
    <tr>
   
      <td>{{ticket.title}}</td>
      <td>{{ticket.message}}</td>
      <td>{{ticket.time}}</td>
      <td >
        <a href="/admin/mg-tickets/del/{{ticket.id}}">
      <button  class="btn btn-danger">Close Issue</button>
      </a>
    </tr>
    {%endfor%}
  </tbody>
</table>
</div>




{%endblock%}
