<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="https://i.imgur.com/q3U4sWr.png" type="image/gif" sizes="16x16">


    {%block head%}
    {%endblock%}


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/CSS/user_dashboard.css">


</head>

<body>
    <div class="page-wrapper chiller-theme toggled">
        <a id="show-sidebar" class="btn btn-sm btn-dark" href="#">
            <i class="fas fa-bars"></i>
        </a>
        <nav id="sidebar" class="sidebar-wrapper">
            <div class="sidebar-content">
                <div class="sidebar-brand">
                    <a href="#">Pneumonia Detection System</a>
                    <div id="close-sidebar">
                        <i class="fas fa-times"></i>
                    </div>
                </div>
                <div class="sidebar-header">
                    <div class="user-pic">

                        {%if request.user.normal_user.profile_pic%}
                        <img style="
                        height:50px; width:50px; border-radius:50%;
                        " src="{{request.user.normal_user.profile_pic.url}}" alt="">
                        {%else%}
                        <img style="
                            height:50px; width:50px; border-radius:50%;
                            "
                            src="https://raw.githubusercontent.com/azouaoui-med/pro-sidebar-template/gh-pages/src/img/user.jpg"
                            alt="">
                        {%endif%}
                    </div>
                    <div class="user-info">
                        <strong> <span class="user-name">

                                {{request.user.first_name}} {{request.user.last_name}}

                            </span></strong>

                        <span class="user-role">{{request.user.username}}</span>

                    </div>
                </div>


                <div class="sidebar-menu">
                    <ul>
                        <li class="header-menu">
                            <span>General</span>
                        </li>
                        <li class="sidebar">
                            <a href="/usr/home">
                                <i class="fa fa-tachometer-alt"></i>
                                <span id="dashboard-header">Dashboard</span>

                            </a>

                        </li>
                        <li class="sidebar">
                            <a href="/usr/patients">
                                <i class="fa fa-users"></i>
                                <span id="user-header">Patients</span>
                            </a>

                        </li>

                        <li class="sidebar">
                            <a href="/usr/stats">
                                <i class="fa fa-chart-line"></i>
                                <span id="gallery-header">Stats</span>
                            </a>

                        </li>

                        <li class="sidebar">
                            <a href="/diagnose">
                                <i class="fa fa-plus"></i>
                                <span id="gallery-header">*New Test</span>
                            </a>

                        </li>

                        <!-- 
                        <li class="header-menu">
                            <span id="extra-header">Extra</span>
                        </li>
                        <li>
                            <a href="/usr/application">
                                <i class="fa fa-book"></i>
                                <span id="application-header">Applications</span>

                            </a>
                        </li> 
                        <li>
                            <a href="/usr/calendar">
                                <i class="fa fa-calendar"></i>
                                <span id="calender-header">Calendar</span>
                            </a>
                        </li>
                        <li>
                            <a href="/usr/notice">
                                <i class="fa fa-question"></i>
                                <span id="notice-header">Support</span>
                            </a>
                        </li>
-->
                        <li class="header-menu">
                            <span id="extra-header">Settings</span>
                        </li>
                        <li>
                            <a href="/usr/profile">
                                <i class="fa fa-user"></i>
                                <span id="notice-header">Profile</span>
                            </a>
                        </li>
                        <li>
                            <a href="/usr/support">
                                <i class="fa fa-question"></i>
                                <span id="notice-header">Support</span>
                            </a>
                        </li>
                        <li>
                            <a href="/logout">
                                <i class="fa fa-power-off"></i>
                                <span id="notice-header">Logout</span>
                            </a>
                        </li>
                    </ul>

                </div>
                <!-- sidebar-menu  -->
            </div>
            <!-- sidebar-content  -->
            <div class="sidebar-footer">

                <a href="/logout">
                    <i class="fa fa-power-off"></i>
                </a>
            </div>
        </nav>
        <!-- sidebar-wrapper  -->

        <!-- page-content" -->
        <main class="page-content">
            {%block content%}
            {%endblock%}

        </main>

    </div>
    <!-- page-wrapper -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


    <script>

        jQuery(function ($) {

            $(".sidebar-dropdown > a").click(function () {
                $(".sidebar-submenu").slideUp(200);
                if (
                    $(this)
                        .parent()
                        .hasClass("active")
                ) {
                    $(".sidebar-dropdown").removeClass("active");
                    $(this)
                        .parent()
                        .removeClass("active");
                } else {
                    $(".sidebar-dropdown").removeClass("active");
                    $(this)
                        .next(".sidebar-submenu")
                        .slideDown(200);
                    $(this)
                        .parent()
                        .addClass("active");
                }
            });

            $("#close-sidebar").click(function () {
                $(".page-wrapper").removeClass("toggled");
            });
            $("#show-sidebar").click(function () {
                $(".page-wrapper").addClass("toggled");
            });




        });
    </script>





</body>

</html>