{%extends 'ums/user/user_base.html'%}
{%block head%}
<title>User|Homepage</title>

<style>
    .time {
        padding-left: 10px;
        padding-right: 10px;
        background: linear-gradient(to bottom right, #2473cc, #0d91a8);
        padding-top: 5px;
        padding-bottom: 5px;
        color: white;
        border-radius: 5px
    }


    .card1 {
        background-image: url(https://i.imgur.com/kgDsRym.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        /* filter: blur(5px); */
    }

    .card2 {
        background-image: url(https://picsum.photos/seed/picsum/200/300/?blur=10);
        background-repeat: no-repeat;
        background-size: cover;
        /* filter: blur(5px); */
    }

    .card3 {
        background-image: url(https://picsum.photos/id/502/200/300.webp/?blur=10);
        background-repeat: no-repeat;
        background-size: cover;
        /* filter: blur(5px); */
    }

    .card3:hover {
        border: 2px solid rgb(15, 141, 158);
        padding: -2px;
    }
</style>

{%endblock%}
{%block content%}
<h1>User Dashboard</h1>

{% if messages%}
{%for message in messages%}

<div class="alert alert-{{message.tags}}">
    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
    {{message}}
</div>

{%endfor%}
{%endif%}
<span class="time">
    {{current_date}}
</span>


<br>
<br>

<div class="row">
    <div class="col-sm-4">
        <div class="card2">
            <div class="card-body">
                <h1 class="card-title" style="color: white;">{{ticket}}</h1>
                <h3 class="card-text" style="color: white;">Support Active Tickets</h3>
                <a href="/usr/support" class="btn-sm btn-info">View All</a>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card2">
            <div class="card-body">
                <h1 class="card-title" style="color: white;">{{blog}}</h1>
                <h3 class="card-text" style="color: white;">Published Blogs</h3>
                <a href="/blog" class="btn-sm btn-info">Read Blogs</a>
            </div>
        </div>
    </div>

    <div class="col-sm-4">
        <div class="card2">
            <div class="card-body">
                <h1 class="card-title" style="color: white;">{{test}}</h1>
                <h3 class="card-text" style="color: white;">Total Tests</h3>
                <a href="/diagnose" class="btn-sm btn-info">Try Test</a>
            </div>
        </div>
    </div>
</div>

<br>
<br>
<h2>Essential Links</h2>
<hr>
<div class="row">
    <div class="col-sm-2">
        <a href="/usr/home" target="_blank">
            <div class="card3">
                <div class="card-body">
                    <center>
                        <h5 class="card-text" style="color: white;">User View</h5>
                    </center>
                </div>
            </div>
        </a>
    </div>

    <div class="col-sm-2">
        <a href="/blog/read/{{slug}}" target="_blank">
            <div class="card3">
                <div class="card-body">
                    <center>
                        <h5 class="card-text" style="color: white;">Latest Blog</h5>
                    </center>
                </div>
            </div>
        </a>
    </div>

    <div class="col-sm-2">
        <a href="https://github.com/poudyalanil/pneumonia-detection-system">
            <div class="card3">
                <div class="card-body">
                    <center>
                        <h5 class="card-text" style="color: white;">Repository</h5>
                    </center>
                </div>
            </div>
        </a>
    </div>
</div>


<br><br>

<h3>New Patients</h3>
<hr>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Full Name</th>
            <th scope="col">Address</th>
            <th scope="col">Date</th>
        </tr>
    </thead>
    <tbody>
        {%for patient in patients%}
        <tr>
            <th>{{patient.patient_name}}</th>
            <td>{{patient.patient_city}},{{patient.patient_country}}</td>
            <td>{{patient.test_date}}</td>
            <td><a href='patients/{{patient.id}}'>View Details</a></td>

        </tr>
        {%endfor%}
    </tbody>
</table>

{%endblock%}