{%extends 'ums/base.html'%}
{%block head%}


<title>Homepage</title>

{%endblock%}

{%block content%}

  

<div class="overlay"></div>
<video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
  <source src="https://i.imgur.com/pMlTwo1.mp4" type="video/mp4">
</video>

<div class="masthead">
  <div class="masthead-bg"></div>
  <div class="container h-100">
    <div class="row h-100">
      <div class="col-12 my-auto">
        <div class="masthead-content text-white py-5 py-md-0">
          <h3 class="mb-3">Pnemumonia Detection System</h3>
          <p class="mb-5">Pneumonia Detection System is a web application for finding out the existence of pneumonia in human body using Computer Vision on chest X-rays of the patient</p>

          <a href="/login">
 <button 
 style="width: 100%; height: 60px; font-size: 30px;"
 class="btn btn-info">Login</button></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="social-icons">
  <ul class="list-unstyled text-center mb-0">
    
    
    <li class="list-unstyled-item">
      <a href="https://github.com/poudyalanil/pneumonia-detection-system"
      target="_blank"
      >
        <i class="fab fa-github"></i>
      </a>
    </li>
  </ul>
</div>

{%endblock%}