<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="assets/img/favicon.ico">
    <title>PDS|Blogs</title>
    <!-- Bootstrap core CSS -->
    <link href="https://res.cloudinary.com/anilpoudyal/raw/upload/v1618834807/CDN/bootstrap.min_saswy1.css"
        rel="stylesheet">
    <!-- Fonts -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Righteous" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="https://res.cloudinary.com/anilpoudyal/raw/upload/v1618834743/CDN/mediumish_fdzhdy.css"
        rel="stylesheet">
</head>

<body>

    <!-- Begin Nav
================================================== -->
    <nav class="navbar navbar-toggleable-md navbar-light bg-white fixed-top mediumnavigation">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
            data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="container">
            <!-- Begin Logo -->
            <a class="navbar-brand" href="/blog">
                Pneumonia Detectoin System | <strong>Blogs</strong>
                <!-- <img src="assets/img/logo.png" alt="logo"> -->
            </a>
            <!-- End Logo -->
            <div class="collapse navbar-collapse" id="navbarsExampleDefault">
                <!-- Begin Menu -->
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="index.html">Blogs <span class="sr-only">(current)</span></a>
                    </li>

                    {%if request.user.is_authenticated%}
                    <li class="nav-item">
                        <a class="nav-link" href="/blog/new">
                            <button class="btn-sm btn-primary">
                                New Story
                            </button>
                        </a>
                    </li>
                    {%endif%}
                    <li class="nav-item">
                        {%if request.user.is_authenticated%}

                        <a class="nav-link" style="color: rgb(43, 133, 133);" href="/logout">Log Out
                            <strong>{{request.user.first_name}}</strong></a>

                        {%else%}
                        <a class=" nav-link" style="color: rgb(43, 133, 133);" target="_blank" href="/login"">Login ➡</a>

                        {%endif%}					</li>

                       

				</ul>
				<!-- End Menu -->
				<!-- Begin Search -->

				<!-- End Search -->
			</div>
		</div>
	</nav>

    <div class=" container">
                            <div class="row">

                                <!-- Begin Fixed Left Share -->
                                <div class="col-md-2 col-xs-12">

                                </div>
                                <!-- End Fixed Left Share -->

                                <!-- Begin Post -->
                                <div class="col-md-8 col-md-offset-2 col-xs-12">
                                    <div class="mainheading">

                                        <!-- Begin Top Meta -->
                                        <div class="row post-top-meta">

                                            <div class="col-md-10">
                                                <a class="link-dark" href="author.html">{{blog.author}}</a>

                                                <span class="post-date">{{blog.last_updated}}</span><span
                                                    class="dot"></span>
                                            </div>
                                        </div>
                                        <!-- End Top Menta -->

                                        <h1 class="posttitle">{{blog.title}}

                                        </h1>
                                        {%if request.user.is_authenticated%}
                                        <span>
                                            <a href="/blog/del/{{blog.slug}}"> <button class="btn btn-danger"
                                                    href>Delete
                                                    Story</button>
                                            </a>
                                            <a href="/blog/edit/{{blog.slug}}">
                                                <button class="btn btn-info">Edit Story</button>
                                            </a>
                                        </span>
                                        {%endif%}
                                    </div>

                                    <!-- Begin Featured Image -->
                                    <img class="featured-image img-fluid" src="assets/img/demopic/10.jpg" alt="">
                                    <!-- End Featured Image -->

                                    <!-- Begin Post Content -->
                                    <div class="article-post">
                                        {{blog.content|safe}}
                                    </div>
                                    <!-- End Post Content -->

                                    <!-- Begin Tags -->
                                    <br><br>
                                    <div class="after-post-tags">
                                        <ul class="tags">
                                            {%for i in blog.tag.all%}
                                            <li><a href="#">{{i}}</a></li>

                                            {%endfor%}

                                        </ul>
                                    </div>
                                    <!-- End Tags -->

                                </div>
                                <!-- End Post -->

                            </div>
            </div>

            <div class="graybg">
                <div class="container">
                    <div class="row listrecent listrelated">

                        <!-- begin post -->
                        {%for blog in recommend%}
                        <div class="col-md-4">
                            <div class="card">
                                <a href="/blog/read/{{blog.slug}}">
                                    <img class="img-fluid img-thumb" style="height: 100px;"
                                        src="{{blog.feature_image.url}}" alt="">
                                </a>
                                <div class="card-block">
                                    <h2 class="card-title"><a href="/blog/read/{{blog.slug}}">{{blog.title}}</a></h2>
                                    <div class="metafooter">
                                        <div class="wrapfooter">

                                            <span class="author-meta">
                                                <span class="post-name"><a
                                                        href="author.html">{{blog.author}}</a></span><br />
                                                <span class="post-date">{{blog.last_updated}}</span><span
                                                    class="dot"></span>
                                            </span>
                                            <span class="post-read-more"><a href="/blog/read/{{blog.slug}}"
                                                    title="Read Story"><svg class="svgIcon-use" width="25" height="25"
                                                        viewbox="0 0 25 25">
                                                        <path
                                                            d="M19 6c0-1.1-.9-2-2-2H8c-1.1 0-2 .9-2 2v14.66h.012c.01.103.045.204.12.285a.5.5 0 0 0 .706.03L12.5 16.85l5.662 4.126a.508.508 0 0 0 .708-.03.5.5 0 0 0 .118-.285H19V6zm-6.838 9.97L7 19.636V6c0-.55.45-1 1-1h9c.55 0 1 .45 1 1v13.637l-5.162-3.668a.49.49 0 0 0-.676 0z"
                                                            fill-rule="evenodd"></path>
                                                    </svg></a></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {%endfor%}
                        <!-- end post -->

                        <!-- begin post -->

                        <!-- end post -->

                    </div>
                </div>
            </div>
            <div class="container">
                <div class="footer">
                    <p class="pull-left">
                        Copyright &copy;
                        <script>document.write(new Date().getFullYear())</script> FYP.ANILPOUDYAL.COM.NP
                    </p>
                    <p class="pull-right">
                        Made with ♥ by <a target="_blank" href="https://www.anilpoudyal.com.np">Anil
                            Poudyal</a>
                    </p>
                    <div class="clearfix">
                    </div>
                </div>
            </div>
            <!-- End Footer
================================================== -->

            <!-- Bootstrap core JavaScript
================================================== -->
            <!-- Placed at the end of the document so the pages load faster -->
            <script
                src="https://res.cloudinary.com/anilpoudyal/raw/upload/v1618835413/CDN/jquery.min_nibjzt.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"
                integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"
                crossorigin="anonymous"></script>
            <script
                src="https://res.cloudinary.com/anilpoudyal/raw/upload/v1618835408/CDN/bootstrap.min_gdzfdr.js"></script>
            <script
                src="https://res.cloudinary.com/anilpoudyal/raw/upload/v1618835410/CDN/ie10-viewport-bug-workaround_blcti0.js"></script>

            <script
                src="https://res.cloudinary.com/anilpoudyal/raw/upload/v1618835413/CDN/mediumish_fhbt09.js"></script>
</body>

</html>