{%extends 'ums/user/user_base.html'%}
{%block head%}
<title>Stats|PDS</title>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"></script>



{%endblock%}

{%block content%}

<h3>Stats</h3>
<hr>
<div class="container">
    <center>
        <div class="row">
            <div class="col-8">
                <center>
                    <h3>City Chart</h3>
                </center>
                <canvas id="pie-chart"></canvas>

            </div>




        </div>
        <br><br>
        <div class="row">
            <div class="col-8">
                <center>
                    <h3>Test Dates</h3>
                </center>

                <canvas id="line-chart"></canvas>
            </div>
        </div>
    </center>
</div>

<script>
    var pie_endpoint = '/usr/charts/city/pie';
    var pie_labels = [];
    var pie_data = []



    var line_endpoint = '/usr/charts/date/line';
    var line_labels = [];
    var line_data = []


    // pie chart
    $.ajax({
        method: "GET",
        url: pie_endpoint,
        success: function (data) {
            console.log("RESPONSE")
            console.log(data)

            pie_labels = data.pie_city_labels;
            pie_data = data.pie_city_data;

            var ctx = document.getElementById('pie-chart').getContext('2d');


            var pie_chart = new Chart(ctx, {
                type: 'pie',
                data: {
                    labels: pie_labels,

                    datasets: [{
                        label: 'Cities',
                        data: pie_data,
                        backgroundColor: ["#0074D9", "#FF4136", "#2ECC40", "#FF851B", "#7FDBFF", "#B10DC9", "#FFDC00", "#001f3f", "#39CCCC", "#01FF70", "#85144b", "#F012BE", "#3D9970", "#111111", "#AAAAAA"]

                    }],

                },
                options: {
                    legend: {
                        display: true,
                        labels: {
                        }
                    }


                }
            }
            );

            console.log("COMMON")


        },
        error: function (error_data) {
            console.log("ERROR")

            console.log(error_data)
        }
    });

    // line chart

    $.ajax({
        method: "GET",
        url: line_endpoint,
        success: function (data) {
            console.log("RESPONSE")
            console.log(data)

            line_labels = data.line_date_labels;
            line_data = data.line_date_data;

            var ctx = document.getElementById('line-chart').getContext('2d');


            var pie_chart = new Chart(ctx, {
                type: 'line',
                data: {
                    labels: line_labels,

                    datasets: [{
                        label: 'Test Dates',
                        data: line_data,
                        backgroundColor: ["#0074D9", "#FF4136", "#2ECC40", "#FF851B", "#7FDBFF", "#B10DC9", "#FFDC00", "#001f3f", "#39CCCC", "#01FF70", "#85144b", "#F012BE", "#3D9970", "#111111", "#AAAAAA"]

                    }],

                },
                options: {
                    scales: {
                        x: {
                            type: 'time',
                            time: {
                                unit: 'day'
                            }
                        }
                    },
                    legend: {
                        display: true,
                        labels: {
                        }
                    }


                }
            }
            );

            console.log("COMMON")


        },
        error: function (error_data) {
            console.log("ERROR")

            console.log(error_data)
        }
    });






</script>

{%endblock%}